@model IEnumerable<ProjetoMVC.Models.Player>

@{
    ViewData["Title"] = "Jogadores de fultebol";
}

<h1>@ViewData["Title"]</h1>
<p>
    <a asp-action="Criar">Add player</a>
</p>
<div class="text-center">
    <table class="table">
        <thead>
            <tr>
                <th>@Html.DisplayNameFor(model => model.id)</th>
                <th>@Html.DisplayNameFor(model => model.name)</th>
                <th>@Html.DisplayNameFor(model => model.position)</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <th>@Html.DisplayFor(model => item.id)</th>
                    <th>@Html.DisplayFor(model => item.name)</th>
                    <th>@Html.DisplayFor(model => item.position)</th>
                </tr>
            }
        </tbody>
    </table>
</div>